<div class="panel panel-primary">
  <div class="panel-heading">
    <h5>Airports <span id="airports-results-title-extra"></span></h5>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover table-condensed hover" id="airports-results-table">
      <thead>
        <tr>
          <th><abbr title="Airport Ident">Ident</abbr>&nbsp;&nbsp;&nbsp;</th>
          <th><abbr title="Airport Name">Name</abbr></th>
          <th><abbr title="Airport Type">Type</abbr></th>
          <th><abbr title="Airport Region">Region</abbr></th>
          <th><abbr title="Airport Municipality">Municipality</abbr></th>
          <th><abbr title="Airport Elevation [feet]">Elev.</abbr></th>
          <th><abbr title="Airport Codes (GPS/IATA/Local)">Codes</abbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
