@(title: String, wsuri: String, css: List[String] = List.empty, scripts: List[String] = List.empty)(content: Html)

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/datatables/css/dataTables.bootstrap.css")">
    @css.map { css =>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned(css)")>
    }
    @scripts.map { script =>
    <script src="@routes.Assets.versioned(script)" type="text/javascript"></script>
    }
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="hidden" id="ws-config" data-wsuri="@wsuri"></div>
    @navbar()
    <div class="container-fluid">
      @content
    </div>
  </body>
</html>
