@()(wsuri: String)
@main("Lunatech Assignment - Query", wsuri,
  css = List(
    "lib/openlayers/ol.css",
    "lib/selectize.js/css/selectize.bootstrap3.css"
  ),
  scripts = List(
    "lib/openlayers/ol.js",
    "lib/jquery/jquery.js",
    "lib/selectize.js/js/standalone/selectize.js",
    "lib/datatables/js/jquery.dataTables.js",
    "lib/bootstrap/js/tooltip.js",
    "lib/bootstrap/js/popover.js"
  )
) {
  <script src="@routes.Assets.versioned("js/query.js")" type="application/javascript"></script>
  <div class="row">
    <div class="col-md-5">
      @airports_table()
    </div>
    <div class="col-md-7">
      <div id="map"></div>
      <div style="display: none;">
        <div id="query-info-box">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-body" id="query-log-area">
        </div>
      </div>
    </div>
    <div class="col-md-7">
      @runways_table()
    </div>
  </div>
}
