@(top10: Seq[(Country, Int)], low10: Seq[(Country, Int)], surf: Seq[(Country, String, Int)], topId: Seq[(String, Int)])(wsuri: String)

@main("Lunatech Assignment - Reports", wsuri) {
  <div class="row">
    <div class="col-md-6">
      @country_airports_panel("Countries having most airports", top10)
    </div>
    <div class="col-md-6">
      @country_airports_panel("Countries having less airports", low10)
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      @surface_identifiers_panel(surf)
    </div>
    <div class="col-md-2">
      @runway_identifiers_panel(topId)
    </div>
  </div>
}
