@(surf: Seq[RunwaySurfacesCountByCountry],
  topId: Seq[RunwayIdentsCount]
)

@main("Lunatech Assignment - Reports",
  scripts = List(
    "lib/jquery/jquery.js",
    "lib/datatables/js/jquery.dataTables.js"
  )
) {
  <script src="@routes.Assets.versioned("js/reports.js")" type="application/javascript"></script>
  <div class="row">
    <div class="col-md-6">
      @country_airports_panel("Countries having most airports", "countries-top-10")
    </div>
    <div class="col-md-6">
      @country_airports_panel("Countries having less airports", "countries-low-10")
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      @surface_identifiers_panel()
    </div>
    <div class="col-md-2">
      @runway_identifiers_panel()
    </div>
  </div>
}
