@()
@main("Lunatech Assignment - Reports",
  css = List(
    "lib/datatable.net-bs/css/dataTables.bootstrap.css"
  ),
  scripts = List(
    "lib/jquery/jquery.js",
    "lib/datatables.net/js/jquery.dataTables.js",
    "lib/datatables.net-bs/js/dataTables.bootstrap.js",
    "lib/datatables.net-scroller/js/dataTables.scroller.js"
  ) ++ List(
    "js/include/symbols.js",
    "js/include/urls.js",
    "js/include/utils.js",
    "js/include/render.js"
  )
) {
  <script src="@routes.Assets.versioned("js/reports.js")" type="application/javascript"></script>
  <div class="row">
    <div class="col-md-6">
      @country_airports_panel("Countries having most airports", "countries-top-10")
    </div>
    <div class="col-md-6">
      @country_airports_panel("Countries having less airports", "countries-low-10")
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      @surface_identifiers_panel()
    </div>
    <div class="col-md-2">
      @runway_identifiers_panel()
    </div>
  </div>
}
