<div class="panel panel-primary">
  <div class="panel-heading">
    <h5>Runways <span id="runways-results-title-extra"></span></h5>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover table-condensed hover" id="runways-results-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Ident</th>
          <th>Surface</th>
          <th>Length</th>
          <th>Width</th>
          <th>Light</th>
          <th>Open</th>
          <th>Heading</th>
          <th>Elevation</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
