<div class="panel panel-primary">
  <div class="panel-heading">
    <h5>Runways <span id="runways-results-title-extra"></span></h5>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover table-condensed hover" id="runways-results-table">
      <thead>
        <tr>
          <th><abbr title="Airport Ident">Airport</abbr></th>
          <th><abbr title="Runway Ident (Le/He)">Idents</abbr></th>
          <th><abbr title="Runwway Surface">Surface</abbr></th>
          <th><abbr title="Runway Dimensions (LengthxWidth) [feet]">Dimensions</abbr></th>
          <th><abbr title="Runway Open">Open</abbr></th>
          <th><abbr title="Runway Lighted">Light</abbr></th>
          <th><abbr title="Runway Heading (Le/He) [degrees]">Headings</abbr></th>
          <th><abbr title="Runway Elevation (Le/He) [feet]">Elevations</abbr></th>
          <th><abbr title="Runway Displacement Threshold (Le/He) [feet]">Disp. Threshs</abbr></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
