@()
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>
    Most common used runway surfaces identifiers
    </h4>
  </div>
  <table id="runway-surfaces" class="table table-condensed table-striped table-hover hover">
    <thead>
      <tr>
        <th>Surface</th>
        <th>Runways</th>
        <th>Code</th>
        <th>Name</th>
        <th>Continent</th>
        <th>ID</th>
        <th>Wikipedia</th>
        <th>Keywords</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
