@import "/lib/bootstrap/less/bootstrap.less";
@icon-font-path: "../lib/bootstrap/fonts/";

@table-bg-accent: #e7e7e7;
@table-bg-hover: #ffffe0;

#map {
  width: 100%;
  height: 100%;
}

#query-log-area {
  background-color: @gray-darker
}

@popover-transparent: rgba(255, 255, 255, 0.4);

.popover {
  max-width: none;
  background-color: @popover-transparent;
}

.popover.right .arrow:after {
  border-right-color: fadein(@popover-transparent, 25%);
}


.popover-content {
  min-width: 340px;
  background-color: transparent;
}

.popover-content .list-group-item {
  background-color: fadein(@popover-transparent, 40%);
}
.popover-content .list-group-item.list-group-item-info {
  background-color: fadeout(@brand-info, 25%);
}


.selectize-input {
  width: 300px !important;
}

.selectize-dropdown {
  width: 300px !important;
}
